alabaster==0.7.12
argh==0.26.2
Babel==2.6.0
backports-abc==0.5
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.10
livereload==2.5.0
MarkupSafe==1.1.0
packaging==18.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.3.1
pyparsing==2.3.0
pytz==2018.7
PyYAML==3.12
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
tornado==4.4.2
typing==3.6.6
urllib3==1.24.1
watchdog==0.8.3
