<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>Content Caching Payload</string>
        <key>pfm_title</key>
        <string>Content Caching Payload</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
        <key>pfm_domain</key>
        <string>com.apple.AssetCache.managed</string>
        <key>pfm_subkeys</key>
        <array>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
                <key>pfm_description</key>
                <string>Description of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Content Caching Payload</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
                <key>pfm_description</key>
                <string>Name of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Content Caching Payload</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
                <key>pfm_description</key>
                <string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.AssetCache.managed</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
                <key>pfm_description</key>
                <string>The type of the payload, a reverse dns string</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.AssetCache.managed</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
                <key>pfm_description</key>
                <string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
                <key>pfm_description</key>
                <string>The version of the whole configuration profile.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
                <key>pfm_description</key>
                <string>This value describes the issuing organization of the profile, as displayed to the user</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AllowPersonalCaching</string>
                <key>pfm_title</key>
                <string>Allow Personal Caching</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, caches the user's iCloud data.
                    Clients may take some time (hours, days) to react to changes to this setting; it does not have an immediate effect.
                    At least one of the AllowPersonalCaching or AllowSharedCaching keys must be true.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <true/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AllowSharedCaching</string>
                <key>pfm_title</key>
                <string>Allow Shared Caching</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, caches non-iCloud content, such as apps and software updates.
                    Clients may take some time (hours, days) to react to changes to this setting;
                    it does not have an immediate effect.

                    At least one of the AllowPersonalCaching or AllowSharedCaching keys must be true.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <true/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AutoActivation</string>
                <key>pfm_title</key>
                <string>Automatically Activate Content Caching</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, automatically activate the Content Cache when possible and prevent disabling of the Content Cache.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <false/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>CacheLimit</string>
                <key>pfm_title</key>
                <string>Cache size limit</string>
                <key>pfm_description</key>
                <string>Optional. Defines the maximum number of bytes of disk space that will be used for the Content Cache.
                    A CacheLimit of 0 means unlimited disk space. Default is 0.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>0</integer>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>DataPath</string>
                <key>pfm_title</key>
                <string>Cache data path</string>
                <key>pfm_description</key>
                <string>Optional. The path to the directory used to store Cached Content.
                    Changing this setting manually does not automatically move cached content from the old to the new location.
                    To move content automatically, use the Sharing preference's Content Caching pane.

                    The value must be, or end with, /Library/Application Support/Apple/AssetCache/Data.
                    A directory (and its intermediates) will be created for the given DataPath if it does not already exist.
                    The directory will be owned by _assetcache:_assetcache and have mode 0750.
                    Its immediate parent directory (.../Library/Application Support/Apple/AssetCache) will be owned by _assetcache:_assetcache and have mode 0755.
                </string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <integer>/Library/Application Support/Apple/AssetCache/Data</integer>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>DenyTetheredCaching</string>
                <key>pfm_title</key>
                <string>Deny tethered caching</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, tethered caching is disabled</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <false/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>ListenRanges</string>
                <key>pfm_title</key>
                <string>Client IP ranges</string>
                <key>pfm_description</key>
                <string>Array of dictionaries describing a range of client IP addresses to serve.</string>
                <key>pfm_type</key>
                <string>array</string>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>ListenRangesItem</string>
                        <key>pfm_title</key>
                        <string>Client IP range</string>
                        <key>pfm_description</key>
                        <string>A range of IP addresses to serve</string>
                        <key>pfm_type</key>
                        <string>dict</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>type</string>
                                <key>pfm_title</key>
                                <string>type</string>
                                <key>pfm_description</key>
                                <string>Optional. The IP address type (IPv4 or IPv6). Default is IPv4.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                                <key>pfm_default</key>
                                <string>IPv4</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>first</string>
                                <key>pfm_title</key>
                                <string>First IP</string>
                                <key>pfm_description</key>
                                <string>Required. First IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>last</string>
                                <key>pfm_title</key>
                                <string>Last IP</string>
                                <key>pfm_description</key>
                                <string>Required. Last IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>ListenRangesOnly</string>
                <key>pfm_title</key>
                <string>Listen to clients from ListenRanges ONLY</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, the Content Cache provides content only to clients in the ranges specified by the ListenRanges key.
                    To use the ListenRangesOnly key, the ListenRanges key must also be specified.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <false/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>ListenWithPeersAndParents</string>
                <key>pfm_title</key>
                <string>Listen to all ranges specified, combined</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, the Content Cache provides content to the clients in the union of the ListenRanges,
                    PeerListenRanges and Parents ranges.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <true/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>LocalSubnetsOnly</string>
                <key>pfm_title</key>
                <string>Listen only on local networks</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, the Content Cache offers content to clients only on the same immediate local network as the Content Cache.
                    No content would be offered to clients on other networks reachable by the Content Cache.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <true/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>LogClientIdentity</string>
                <key>pfm_title</key>
                <string>Log client IP</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, the Content Cache will log the IP address and port number of the clients that request content.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <false/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>Parents</string>
                <key>pfm_title</key>
                <string>Parent content caches</string>
                <key>pfm_description</key>
                <string>Optional. Array of the local IP addresses of other Content Caches that this cache should download from or upload to,
                    instead of downloading from or uploading to Apple directly.
                    Invalid addresses and addresses of computers that are not Content Caches are ignored.
                    Parent caches that become unavailable are skipped. If all parent Content Caches become unavailable,
                    the Content Cache will download from or upload to Apple directly until a parent Content Cache becomes available again.</string>
                <key>pfm_type</key>
                <string>array</string>
                <key>pfm_default</key>
                <false/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>ParentSelectionPolicy</string>
                <key>pfm_title</key>
                <string>Parent selection policy</string>
                <key>pfm_description</key>
                <string>Optional. The policy to use when choosing among more than one configured parent Content Cache.
                    With every policy, parent caches that are temporarily unavailable are skipped.</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>round-robin</string>
                <key>pfm_range_list</key>
                <array>
                    <string>first-available</string>
                    <string>url-path-hash</string>
                    <string>random</string>
                    <string>round-robin</string>
                    <string>sticky-available</string>
                </array>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PeerFilterRanges</string>
                <key>pfm_title</key>
                <string>Peer IP Filter ranges</string>
                <key>pfm_description</key>
                <string>Optional. Array of dictionaries describing a range of peer IP addresses that the Content Cache will use to filter its list of peers to query for content.
                    The Content Cache only queries peers that are in the PeerFilterRanges.
                    When PeerFilterRanges is an empty array the Content Cache will not query any peers.</string>
                <key>pfm_type</key>
                <string>array</string>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>PeerFilterRangesItem</string>
                        <key>pfm_title</key>
                        <string>Peer IP range to exclude</string>
                        <key>pfm_description</key>
                        <string>A range of IP addresses to exclude for peers</string>
                        <key>pfm_type</key>
                        <string>dict</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>type</string>
                                <key>pfm_title</key>
                                <string>type</string>
                                <key>pfm_description</key>
                                <string>Optional. The IP address type (IPv4 or IPv6). Default is IPv4.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                                <key>pfm_default</key>
                                <string>IPv4</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>first</string>
                                <key>pfm_title</key>
                                <string>First IP</string>
                                <key>pfm_description</key>
                                <string>Required. First IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>last</string>
                                <key>pfm_title</key>
                                <string>Last IP</string>
                                <key>pfm_description</key>
                                <string>Required. Last IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PeerListenRanges</string>
                <key>pfm_title</key>
                <string>Peer IP ranges</string>
                <key>pfm_description</key>
                <string>Optional. Array of dictionaries describing a range of peer IP addresses the Content Cache will respond to peer cache queries from.
                    When PeerListenRanges is an empty array, the Content Cache will respond with an error to all cache queries.</string>
                <key>pfm_type</key>
                <string>array</string>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>PeerListenRangesItem</string>
                        <key>pfm_title</key>
                        <string>Peer IP range to include</string>
                        <key>pfm_description</key>
                        <string>A range of IP addresses to include for peers</string>
                        <key>pfm_type</key>
                        <string>dict</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>type</string>
                                <key>pfm_title</key>
                                <string>type</string>
                                <key>pfm_description</key>
                                <string>Optional. The IP address type (IPv4 or IPv6). Default is IPv4.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                                <key>pfm_default</key>
                                <string>IPv4</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>first</string>
                                <key>pfm_title</key>
                                <string>First IP</string>
                                <key>pfm_description</key>
                                <string>Required. First IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>last</string>
                                <key>pfm_title</key>
                                <string>Last IP</string>
                                <key>pfm_description</key>
                                <string>Required. Last IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PeerLocalSubnetsOnly</string>
                <key>pfm_title</key>
                <string>Only peer with content caches on local subnet</string>
                <key>pfm_description</key>
                <string>Optional. If set to true, the Content Cache will only peer with other Content Caches on the same immediate local network,
                    rather than with Content Caches that use the same public IP address as the device.

                    When PeerLocalSubnetsOnly is true, it overrides the configuration of PeerFilterRanges and PeerListenRanges.
                    If the network changes, the local network peering restrictions update appropriately.
                    If set to false, the Content Cache defers to PeerFilterRanges and PeerListenRanges for configuring the peering restrictions.</string>
                <key>pfm_type</key>
                <string>boolean</string>
                <key>pfm_default</key>
                <true/>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>Port</string>
                <key>pfm_title</key>
                <string>Listen TCP Port</string>
                <key>pfm_description</key>
                <string>Optional. The TCP port number on which the Content Cache accepts requests for uploads or downloads.
                    Port set to 0 picks a random, available port. Default is 0.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>0</integer>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PublicRanges</string>
                <key>pfm_title</key>
                <string>Public IP ranges</string>
                <key>pfm_description</key>
                <string>Optional. Array of dictionaries describing a range of public IP addresses that the cloud servers
                    should use for matching clients to Content Caches.</string>
                <key>pfm_type</key>
                <string>array</string>
                <key>pfm_macos_min</key>
                <string>10.13.4</string>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>PublicRangesItem</string>
                        <key>pfm_title</key>
                        <string>Public IP range to register for</string>
                        <key>pfm_description</key>
                        <string>A range of IP addresses to register as public IPs</string>
                        <key>pfm_type</key>
                        <string>dict</string>
                        <key>pfm_subkeys</key>
                        <array>
                            <dict>
                                <key>pfm_name</key>
                                <string>type</string>
                                <key>pfm_title</key>
                                <string>type</string>
                                <key>pfm_description</key>
                                <string>Optional. The IP address type (IPv4 or IPv6). Default is IPv4.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                                <key>pfm_default</key>
                                <string>IPv4</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>first</string>
                                <key>pfm_title</key>
                                <string>First IP</string>
                                <key>pfm_description</key>
                                <string>Required. First IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                            <dict>
                                <key>pfm_name</key>
                                <string>last</string>
                                <key>pfm_title</key>
                                <string>Last IP</string>
                                <key>pfm_description</key>
                                <string>Required. Last IP address in the range.</string>
                                <key>pfm_type</key>
                                <string>string</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
