<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>pfm_description</key>
        <string>Kernel Extension Policy</string>
        <key>pfm_title</key>
        <string>Kernel Extension Policy</string>
        <key>pfm_format_version</key>
        <integer>1</integer>
        <key>pfm_version</key>
        <integer>1</integer>
        <key>pfm_domain</key>
        <string>com.apple.syspolicy.kernel-extension-policy</string>
        <key>pfm_supervised</key>
        <true/>
        <key>pfm_macos_min</key>
        <string>10.13.2</string>
        <key>pfm_subkeys</key>
        <array>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDescription</string>
                <key>pfm_title</key>
                <string>Payload Description</string>
                <key>pfm_description</key>
                <string>Description of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Kernel Extension Policy</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadDisplayName</string>
                <key>pfm_title</key>
                <string>Payload Display Name</string>
                <key>pfm_description</key>
                <string>Name of the payload</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>Kernel Extension Policy</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadIdentifier</string>
                <key>pfm_title</key>
                <string>Payload Identifier</string>
                <key>pfm_description</key>
                <string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.syspolicy.kernel-extension-policy</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadType</string>
                <key>pfm_title</key>
                <string>Payload Type</string>
                <key>pfm_description</key>
                <string>The type of the payload, a reverse dns string</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string>com.apple.syspolicy.kernel-extension-policy</string>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadUUID</string>
                <key>pfm_title</key>
                <string>Payload UUID</string>
                <key>pfm_description</key>
                <string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
                <key>pfm_type</key>
                <string>string</string>
                <key>pfm_default</key>
                <string></string>
                <key>pfm_require</key>
                <string>always</string>
                <key>pfm_format</key>
                <string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadVersion</string>
                <key>pfm_title</key>
                <string>Payload Version</string>
                <key>pfm_description</key>
                <string>The version of the whole configuration profile.</string>
                <key>pfm_type</key>
                <string>integer</string>
                <key>pfm_default</key>
                <integer>1</integer>
                <key>pfm_require</key>
                <string>always</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>PayloadOrganization</string>
                <key>pfm_title</key>
                <string>Payload Organization</string>
                <key>pfm_description</key>
                <string>This value describes the issuing organization of the profile, as displayed to the user</string>
                <key>pfm_type</key>
                <string>string</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AllowUserOverrides</string>
                <key>pfm_title</key>
                <string>Allow user to approve kernel extensions</string>
                <key>pfm_description</key>
                <string>If set to true, users can approve additional kernel extensions not explicitly allowed by configuration profiles.</string>
                <key>pfm_type</key>
                <string>boolean</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AllowedTeamIdentifiers</string>
                <key>pfm_title</key>
                <string>Allowed Team Identifiers</string>
                <key>pfm_description</key>
                <string>An array of team identifiers that define which validly signed kernel extensions will be allowed to load.</string>
                <key>pfm_type</key>
                <string>array</string>
            </dict>
            <dict>
                <key>pfm_name</key>
                <string>AllowedKernelExtensions</string>
                <key>pfm_title</key>
                <string>Allowed Kernel Extensions</string>
                <key>pfm_description</key>
                <string>A dictionary representing a set of kernel extensions that will always be allowed to load on
                    the machine. The dictionary maps team identifiers (keys) to arrays of bundle identifiers.
                    For unsigned legacy kernel extensions, use an empty key for the team identifier.
                </string>
                <key>pfm_type</key>
                <string>dict</string>
                <key>pfm_subkeys</key>
                <array>
                    <dict>
                        <key>pfm_name</key>
                        <string>Team ID Key</string>
                        <key>pfm_title</key>
                        <string>Team ID</string>
                        <key>pfm_description</key>
                        <string>A valid Team ID</string>
                        <key>pfm_type</key>
                        <string>array</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
